# CMU Movie data

## Initial Data Inspection

### Load Data

In [1]:
from src.utils.data_utils import load_data

character_data, movie_data, plot_data = load_data()

### Preview Data

In [2]:
print(character_data.shape)
character_data.head()

(450669, 13)

,wikipedia_movie_id,freebase_movie_id,movie_release_date,character_name,actor_dob,actor_gender,actor_height,actor_ethnicity,actor_name,actor_age_at_release,character_actor_map_id,character_id,actor_id
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg

In [3]:
print(movie_data.shape)
movie_data.head()

(81741, 9)

,wikipedia_movie_id,freebase_movie_id,movie_name,movie_release_date,box_office_revenue,runtime,languages,countries,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBen√©t Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [8]:
print(plot_data.shape)
plot_data.head()

(42303, 2)

   wikipedia_movie_id                                            summary
0            23890098  Shlykov, a hard-working taxi driver and Lyosha...
1            31186339  The nation of Panem consists of a wealthy Capi...
2            20663735  Poovalli Induchoodan  is sentenced for six yea...
3             2231378  The Lemon Drop Kid , a New York City swindler,...
4              595909  Seventh-day Adventist Church pastor Michael Ch...

### Summary statistics

In [4]:
character_data.info()
character_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450669 entries, 0 to 450668
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   wikipedia_movie_id      450669 non-null  int64
 1   freebase_movie_id       450669 non-null  object
 2   movie_release_date      440674 non-null  object
 3   character_name          192794 non-null  object
 4   actor_dob               344524 non-null  object
 5   actor_gender            405060 non-null  object
 6   actor_height            154824 non-null  float64
 7   actor_ethnicity         106058 non-null  object
 8   actor_name              449441 non-null  object
 9   actor_age_at_release    292556 non-null  float64
 10  character_actor_map_id  450669 non-null  object
 11  character_id            192804 non-null  object
 12  actor_id                449854 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 44.7+ MB

       wikipedia_movie_id   actor_height  actor_age_at_release
count        4.506690e+05  154824.000000         292556.000000
mean         1.396975e+07       1.788893             37.788523
std          1.079662e+07       4.379940             20.587870
min          3.300000e+02       0.610000          -7896.000000
25%          3.759292e+06       1.676400             28.000000
50%          1.189065e+07       1.750000             36.000000
75%          2.366501e+07       1.830000             47.000000
max          3.750192e+07     510.000000            103.000000

In [5]:
movie_data.info()
movie_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81741 entries, 0 to 81740
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   wikipedia_movie_id  81741 non-null  int64
 1   freebase_movie_id   81741 non-null  object
 2   movie_name          81741 non-null  object
 3   movie_release_date  74839 non-null  object
 4   box_office_revenue  8401 non-null   float64
 5   runtime             61291 non-null  float64
 6   languages           81741 non-null  object
 7   countries           81741 non-null  object
 8   genres              81741 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.6+ MB

       wikipedia_movie_id  box_office_revenue       runtime
count        8.174100e+04        8.401000e+03  6.129100e+04
mean         1.740784e+07        4.799363e+07  1.118192e+02
std          1.098791e+07        1.121753e+08  4.360070e+03
min          3.300000e+02        1.000000e+04  0.000000e+00
25%          7.323695e+06        2.083193e+06  8.100000e+01
50%          1.777899e+07        1.063969e+07  9.300000e+01
75%          2.715573e+07        4.071696e+07  1.060000e+02
max          3.750192e+07        2.782275e+09  1.079281e+06

In [15]:
plot_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42303 entries, 0 to 42302
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   wikipedia_movie_id  42303 non-null  int64
 1   summary             42303 non-null  object
dtypes: int64(1), object(1)
memory usage: 661.1+ KB

### Amount of missing data per column

In [6]:
character_data_missing = character_data.isna()
character_data_missing.mean().round(3)*100

wikipedia_movie_id         0.0
freebase_movie_id          0.0
movie_release_date         2.2
character_name            57.2
actor_dob                 23.6
actor_gender              10.1
actor_height              65.6
actor_ethnicity           76.5
actor_name                 0.3
actor_age_at_release      35.1
character_actor_map_id     0.0
character_id              57.2
actor_id                   0.2
dtype: float64

In [7]:
movie_data_missing = movie_data.isna()
movie_data_missing.mean().round(3)*100

wikipedia_movie_id     0.0
freebase_movie_id      0.0
movie_name             0.0
movie_release_date     8.4
box_office_revenue    89.7
runtime               25.0
languages              0.0
countries              0.0
genres                 0.0
dtype: float64

In [17]:
plot_data_missing = plot_data.isna()
plot_data_missing.mean().round(3)*100

wikipedia_movie_id    0.0
summary               0.0
dtype: float64